@media only screen and (max-width: 600px) {
    body {
        display: block;
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
    }

    .navbar-nav {
        overflow-x: hidden;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navbar-brand img {
        max-height: 10px;
        max-width: 50% !important;
    }

    #sect-1 {
        background-color: #141414;
        padding-top: 250px;
        padding-bottom: 10px;
    }
    
    #sect-1 #h2 {
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #88888D;
    }
    
    #sect-1 p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 5px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    #second {
        background-color: #141414;
        height: 150px;
        padding-bottom: 150px;
    }
    
    
    #box ul {
        list-style-type: none;
        overflow: hidden;
        background-color: #333333;
        padding: 0px;
        margin: 0px;
        width: 100%;
      }
      
    #box li {
        display: inline;
        float: left;
        }
      
    #box li a {
        display: inline;
        color: white;
        text-align: left;
        /* padding: 16px; */
        text-decoration: none;
      }
      
    #box li a:hover {
        background-color: #111111;
        color: #D4B877;;
      }
    
    #third {
        background-color: #141414;
        padding-top: 100px;
    }
    
    #third p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 27px;
        color: #FFFFFF;
    }
    
    #third img {
        min-height: 30vh;
        max-width: 100% !important;
        /* width: 100px; */
    }
    
    #fourth {
        background-color: #141414;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    #fourth #header {
        text-align: center;
        color: #88888D;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 27px;
        height: 10px;
    }

    #fourth .para {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    }

    #fourth #hire {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    
    #fourth .button {
        box-sizing: border-box;
        width: 40%;
        height: 40px;
        border-radius: 25px;
        background-color: #eeeeee;
        border: 1px solid #fff;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #000;
        margin: auto;
    }

    /* Styling for footer */
    #box1 ul {
        list-style-type: none;
        padding-top: 0px;
        overflow: hidden;
        padding-top: 10px;
    }

    #box1 ul li a {
        color: #fff;
        font-size: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: inline;
    }
    
    #box1 li {
        float: left;
    }

    #box1 .col {
        justify-content: center;
        flex-direction: column;
        display: flex;
    }

    #box1 .img-col {
        justify-content: flex-end;
        margin-top: 100px;
    }

    #box1 img {
        width: 75px;
    }

    #blist {
        margin-left: -45px;
        padding-left: -500px;
        line-height: 50px;
    }

    #copyright {
        margin-left: -20px;
        font-size: 14.5px;
    }
}


body {
    background-color: #111111;
    overflow-x: hidden;
}

nav {
    background-color: #fff;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: none;
    font-weight: 900;
    color: #1d1c1d;
}

nav ul {
    z-index: 9;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto 10px;
    z-index: 9;
    list-style-type: none;
}

nav ul li a:hover {
    color: #1d1c1d;
}


#sect-1 {
    background-color: #141414;
    padding-top: 200px;
    /* padding-bottom: 200px; */
    /* height: 600px; */
}

#sect-1 h2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #88888D;
}

#sect-1 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

#second {
    background-color: #141414;
    height: 100px;
    display: flex;
    justify-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

#box ul {
    list-style-type: none;
    /* margin: 20px; */
    padding-top: 0px;
    overflow: hidden;
    background-color: #333333;
    padding-left: 100px;
    padding-right: 100px;
  }
  
#box li {
    float: left;
    }
  
#box li a {
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
  }
  
#box li a:hover {
    background-color: #111111;
    color: #D4B877;;
  }

#third {
    background-color: #141414;
    /* padding-top: 20px; */
}

#third p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #FFFFFF;
}

/* #third .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
} */

/* #third .img-col {
    justify-content: flex-end;
    margin-top: 100px;
} */

#third img {
    min-height: 30vh;
    max-width: 100% !important;
    /* width: 500px; */
}

/* Styling for 4th section */
#fourth {
    background-color: #141414;
    padding-top: 100px;
    padding-bottom: 50px;
}

#fourth h3 {
    text-align: left;
    color: #88888D;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    height: 30px;
    margin-bottom: 50px;
}

#fourth p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}

#fourth button {
    box-sizing: border-box;
    /* position: absolute; */
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #eeeeee;
    border: 1px solid #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
    color: #000;
}

/* Styling for footer */
#box1 ul {
    list-style-type: none;
    padding-top: 0px;
    overflow: hidden;
    /* min-width: 1000px; */
    /* max-width: max-content; */
    /* margin-right: 90px; */
    padding-top: 10px;
    /* padding-right: 50px; */
    /* margin-right: 20px; */
  }

#box1 ul li a {
    color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
}
  
#box1 li {
    float: left;
    /* margin: 10px auto; */
    /* padding: auto 20px; */
}
  
/* #box1 li a {
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
  } */

#box1 .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#box1 .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#box1 img {
    /* min-height: 30vh; */
    max-width: 60% !important;
    /* max-width: 50px; */
    /* margin-top: 50px; */
}
