@import url('https://fonts.googleapis.com/');
* {
    margin: 0;
    padding: 0;
}


body {
    display: block;
    overflow-x: hidden;
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    body {
        display: block;
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
    }

    .navbar-nav {
        overflow-x: hidden;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navbar-brand img {
        max-height: 10px;
        max-width: 40% !important;
    }

    .first {
        display: block;
        /* font-size: 12px; */
        padding-top: 80px;
        background-color: #141414;
        max-height: 530px;
        overflow-x: hidden;
    }

    .typewriter h1 {
        overflow: hidden;
        border-right: .15em solid #88888d;
        white-space: nowrap;
        margin: 0 auto;
        animation: typing 5s steps(20, end),
                    blink-caret .5s step-end infinite;
    }
    
    @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
    }
    
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #88888d }
      }

    .first .header-1 {
        font-size: 16px;
        font-weight: 900;
        font-family: 'Sora', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        text-align: center;
        line-height: 46px;
        letter-spacing: -0.02em; 
    }

    .first .header-4 {
        font-size: 14px;
    }

    .first .button {
        /* position: relative; */
        margin-top: 50px;
    }

    #second {
        background-color: #212020;
        max-height: 110px;
    }

    #second .header-3 {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        color: #88888D;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        height: 10px;
    }

    #second img {
        max-width: 30px;
    }

    #third {
        max-width: 100%;
        max-height: 600px;
    }

    #third .header-1 {
        margin-top: -75px;
        color: #88888D;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
    }

    #third .para {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        /* line-height: 7.5px; */
        color: #FFFFFF;
        text-align: center;
    }
    
    #third .col {
        justify-content: center;
        flex-direction: row;
        display: flex;
    }
    
    #third .img-col {
        justify-content: flex-end;
        margin-top: 0px;
    }
    
    #third #img {
        min-height: 30vh;
        max-width: 68% !important;
        margin: auto 50px;
    }
    
    #fourth .header-3 {
        font-size: 24px;
        /* padding-top: 5px; */
        margin-top: -15px;
        margin-bottom: 3px;
    }

    #fourth .button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #fifth .header-3 {
        font-size: 20px;
        text-align: center;
    }

    #fifth .para {
        font-size: 14px;
        text-align: center;
    }

    #fifth img {
        max-width: 100% !important;
    }

    #sixth {
        margin-top: -100px;
        max-height: 600px;
    }

    #sixth .header-3 {
        /* margin-top: -20px; */
        /* margin-bottom: px; */
        font-size: 18px;
    }

    #sixth .header-5 {
        /* margin-top: -75px; */

        color: #88888D;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 7px;
        line-height: 10px;
    }

    #sixth .header-6 {
        /* margin-top: -75px; */
        /* margin-top:x; */
        color: #88888D;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 6px;
        line-height: 10px;
    }

    #sixth .para {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 200;
        font-size: 6px;
        line-height: 6px;
        color: #FFFFFF;
    }

    #sixth #testimonial {
        /* padding-left: 1000px; */
        min-height: 30px;
        max-width: 100%;
    }

    #seventh {
        background-color: #141414;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    #seventh #header {
        padding-bottom: 20px;
        text-align: left;
        color: #88888D;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        text-align: center;
        line-height: 27px;
        height: 10px;
    }

    #seventh #card-row {
        height: 1600px;
    }

    #seventh .para1 {
        text-align: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
    }

    #seventh #hire {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    
    #seventh .button {
        box-sizing: border-box;
        width: 40%;
        height: 40px;
        border-radius: 25px;
        background-color: #eeeeee;
        border: 1px solid #fff;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #000;
        margin: auto;
    }

    /* Styling for footer */
    #box ul {
        list-style-type: none;
        padding-top: 0px;
        overflow: hidden;
        padding-top: 10px;
    }

    #box ul li a {
        color: #fff;
        font-size: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: inline;
    }
    
    #box li {
        float: left;
    }

    #box .col {
        justify-content: center;
        flex-direction: column;
        display: flex;
    }

    #box .img-col {
        justify-content: flex-end;
        margin-top: 100px;
    }

    #box img {
        width: 75px;
    }

    #blist {
        margin-left: -30px;
        padding-right: 150px;
        line-height: 50px;
    }

    #copyright {
        margin-left: -20px;
        font-size: 14.5px;
    }
  }

/* Navbar styling */
nav {
    background-color: #fff;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: none;
    font-weight: 900;
    color: #1d1c1d;
}

/* nav ul {
    z-index: 9;
} */

nav ul li a {
    color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto 10px;
    /* z-index: 9; */
}

nav ul li a:hover {
    color: #1d1c1d;
}

.color-me {
    color: #fff;
}

/* Styling for first section */
#particles-js {
    height: 63vh;
    width: 100%;
    position: absolute;
    z-index: 4;
}

canvas {
    display: block;
  }

.first {
    /* background-image: url("imgs/bg-1.png");
     */
     /* background-image: conic-gradient(at 60% 45%, black, #FFD84B); */
    display: flex;
    padding-top: 210px;
    padding-bottom: 210px;
    background-color: #141414;
    height: 630px;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    /* position: absolute; */
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid #88888d;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(30, end),
                blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #88888d }
    /* 100% { border-color: #88888D;} */
  }

.first .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.first h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Sora', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-align: center;
    line-height: 86px;
    letter-spacing: -0.02em;
}

.first h1 span {
    color: #88888d;
}

.first h4 {
    color: #fff;
    height: 102px;
    font-family: 'Sora';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    width: 100%;
    margin-top: 10px;
}

.first button {
    box-sizing: border-box;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #eeeeee;
    border: 1px solid #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
    color: #000;
}

/* Styling for 2nd section */
#second {
    background-color: #212020;
    height: 401px;
}

#second h3 {
    margin-top: 50px;
    margin-bottom: 120px;
    text-align: center;
    color: #88888D;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    height: 30px;
}

/* Styling for third section */
#third {
    background-color: #141414;
    padding-top: 100px;
    padding-bottom: 50px;
}

#third h1 {
    color: #88888D;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

#third p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #FFFFFF;
    /* position: absolute; */
}

#third .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#third .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#third img {
    min-height: 30vh;
    max-width: 130% !important;
    width: 500px;
    /* margin-top: 50px; */
}


/* Styling for fourth section */
#fourth {
    background-color: #141414;
    padding-top: 20px;
}

#fourth h3 {
    /* margin-top: 50px;
    margin-bottom: 120px; */
    text-align: center;
    color: #88888D;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    height: 30px;
}

#fourth .row {
    margin-top: 50px;
}

#fourth .col {
    margin-top: 20px;
    margin-bottom: 30px;
}

#fourth button {
    box-sizing: border-box;
    /* position: absolute; */
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #eeeeee;
    border: 1px solid #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
    color: #000;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: 450px;
}

#fourth button a {
    text-decoration: none;
    color: #1d1c1d;
}

/* Styling fr fifth section */
#fifth {
    background-color: #141414;
    padding-top: 50px;
    padding-bottom: 50px;
}

#fifth .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#fifth .img-col {
    justify-content: flex-end;
    margin-top: 100px;
    /* margin-left: 50px; */
}

#fifth img {
    /* min-height: 30vh; */
    max-width: 500px;
    margin-top: 50px;
    border-radius: 12px;
    /* padding-right: 109px; */
}

#fifth h3 {
    margin-top: 50px;
    text-align: left;
    color: #88888D;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    height: 30px;
}

#fifth p {
    /* position: absolute; */
    color: #fff;
    font-family: 'Sora';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* Styling for 6th section */
#sixth {
    background-color: #141414;
    height: 400px;
    padding-top: 100px; 
    height: 600px;
}

#sixth h3 {
    /* margin-top: 50px;
    margin-bottom: 120px; */
    text-align: center;
    color: #88888D;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    height: 30px;
}

#card-row {
    padding-top: 50px;
    padding-bottom: 50px;
}

#card {
    background-color: #212020;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Sora';
    font-size: 16px;
    margin-right: 20px;
    max-width: fit-content;
}

/* Styling for 7th section */
#seventh {
    background-color: #141414;
    padding-top: 100px;
    padding-bottom: 50px;
}

#seventh h3 {
    text-align: left;
    color: #88888D;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    height: 30px;
    margin-bottom: 50px;
}

#seventh p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}

#seventh button {
    box-sizing: border-box;
    /* position: absolute; */
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #eeeeee;
    border: 1px solid #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
    color: #000;
}

/* Styling for footer */
#box ul {
    list-style-type: none;
    overflow: hidden;
    padding-top: 10px;
    /* padding-left: 50px;
    margin-left: 20px; */
  }

#box ul li a {
    color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
}
  
#box li {
    float: left;
    /* margin: 10px auto; */
    /* padding: auto 20px; */
}
  
/* #box li a {
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
  } */

#box .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#box .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#box img {
    /* min-height: 30vh; */
    max-width: 40% !important;
    /* max-width: 50px; */
    /* margin-top: 50px; */
}
